* {
  &::selection{
    color: white;
    background-color: black !important;
  }
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  &:hover{
    box-sizing: border-box !important;
    background-color: rgba(0,0,0,1) !important;
    color: white;
    text-decoration: underline;
  }
}

.logo {
  height: 40px;
  &::selection{
    color: black;
    background-color: transparent !important;
  }
}

.bg-black {
  background-color: black !important;
}

.popper-img {
  height: 260px;
}

.data-explorer {
  display: inherit;
  & td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.browser {
  border: 2px solid #eaeaeb;
  border-top: none;
  border-radius: 4px;
}

.browser__head {
  display: flex;
  background: #eaeaeb;
  align-items: center;
  padding-right: .25rem;
  padding-left: .25rem;
}

.browser__buttons {
  display: flex;
  align-items: center;
  padding: .75rem 0;
  margin-right: .25rem;
}

.browser__button {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 4px;
  &--close {
    background: #fe5f56;
  }
  &--minimize {
    background: #ffc22f;
  }
  &--maximize {
    background: #29ca3f;
  }
}

.browser__url-bar {
  background: #fff;
  height: 1rem;
  width: 100%;
  margin-right: .5rem;
}

.browser__options {
  height: 1rem;
  width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.browser__option-bar {
  height: 2px;
  background: #ccc;
}